{#
/**
 * @file
 * Template file for the show usage modal.
 */
#}
{% if usage == '' %}
  {{ 'The entity is not used yet on other sites.'|trans }}
{% else %}
  <h2>
    {{ 'The entity is used on the following sites:'|trans }}
  </h2>
  {{ usage|raw }}
{% endif %}
